<header class="navbar navbar-expand flex-column flex-md-row nav-header">
  <a class="navbar-brand mr-0 mr-md-2" aria-label="R&B">
    <img class="img_logo" src="/assets/img/logo_64_2.png" alt=""/>
  </a>

  <ul class="navbar-nav ml-md-auto ">
    <li class="nav-item">
      <img src="/assets/img/userAccept5.png" alt="Пользователь"/>
    </li>
  </ul>

  <p class="mb-2 mb-md-0 ml-md-2">Пользователь:</p>
  <p class="mb-3 mb-md-0 ml-md-2 mr-md-3">{{user}}</p>

 <a title="Выйти" class="mb-3 mb-md-0 ml-md-2 mr-md-2" routerLink="/sign-in" (click)="onLogout()">
  <img class="img_logo" src="/assets/img/logout3.png" alt="Выйти"/>
 </a>
  <a class="a-exit ml-md-2 a-label" routerLink="/sign-in" (click)="onLogout()">Выйти</a>

</header>
