header {
  font-size: 16px;
  border-bottom: 2px solid  #085cb1;
  padding-bottom: 3px;
  color: #085cb1;
  font-family: "Segoe UI";
  font-weight: 500;
  background-color: #FFFFFF;
 /* background-color: rgba(8, 148, 255, 0.16);*/
/*  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.19);*/
}
.img_logo {
 /* font-size: 3.0em;*/
  padding-left: 10%;
}
a.a-label {
  text-decoration: none;
  color: #085cb1;
  padding: 7px 10px 7px 0;
  cursor: pointer;
  font-family: "Segoe UI";
  font-weight: 500;
}
a.a-label:hover {
  font-weight: bolder;
/*  background: rgba(73, 140, 206, 0.84);
  color: white;
  border-radius: 7px;*/
}
