<div *ngIf = "isLoadedData(); else loading">

  <div class="box">
    <div>
      <rb-drop-down-menu [nameDropDown]="'Операции'"
                         [dropDownArray]="operations"
                         (selectedItemMenu)="makeOperation($event)">
      </rb-drop-down-menu>
    </div>
    <div>
      <rb-modal-box></rb-modal-box>
    </div>
    <div class="mat-filter">
      <rb-mat-filter
        (applyFilter)="applyFilter($event)">
      </rb-mat-filter>
    </div>
    <div class="button-plus">
      <rb-button [anchorRouterLink]=addButton.anchorRouterLink
                 [srcImg]=addButton.srcImg
                 [titleHover]=addButton.titleHover
                 (actionButton)="onClickAdd()">
      </rb-button>
    </div>
  </div>
  <rb-mat-table
    [columns]="columns"
    [dataList]="issueList"
    [updateButton]="updateButton"
    (clickUpdate)="onClickUpdate($event)"
    [deleteButton]="deleteButton"
    (clickDelete)="onClickDelete($event)"
    [viewButton]="viewButton"
    (clickView)="onClickView($event)"
    [filterValue]="filterValue"
    [selectedRowId] = "selectedRowId">
  </rb-mat-table>
</div>

<ng-template #loading>
 <rb-spinner></rb-spinner>
</ng-template>

<!--<ng-template #issueEdit>
  <issue-edit [issueRow]="issueRow"></issue-edit>
</ng-template>

<ng-template #loading let-loadingSec="sec">
  <div>Loading... {{loadingSec}}</div>
</ng-template>

<ng-container *ngTemplateOutlet="loading;context:ctx">
</ng-container>

<ng-template #defaultTabButtons>
  <button class="tab-button">
    loginText
  </button>
  <button class="tab-button">
   signUpText
  </button>
</ng-template>
<ng-container #testButtons></ng-container>
<span #testTRV>I am a span</span>-->
<!--      <rb-drop-down-menu [nameDropDown]="menuFilterName"
                         [dropDownArray]="menuOperation"
                         (selectedItemMenu)="makeOperation($event)">
      </rb-drop-down-menu>-->
