<div class="rb-dropdown-menu">
  <input type="text"
         class="input-field rb-lookUp"
         (click)="open()"
         [value]="value"
         autocomplete="off"
         (keyup)="onKeyUpItem($event)"
         [ngStyle]="styleInput"
         (blur)="onBlur($event.target.value)"
  >
  <div class="dropdown">
    <div class="dropdown-content" *ngIf="visible" [ngStyle]="styleList">
      <a *ngFor="let option of filterLookUp$ | async let i = index"
         (click)="selectItemClick(option, +i)">
        {{option}}
      </a>
    </div>
  </div>
</div>
<!--
[ngStyle]="styleList"  [ngStyle]="styleInput"  (keyup)="find($event.target.value)"-->
<!--         (change)="onChange($event.target.checked)"
 (keyup)="find($event.target.value)"
         (blur)="onTouched()"-->
