<div *ngIf="isVisibleList; else bbdEdit">
    <div class="rb-caption container">
        <div class="row">
            <rb-filters class="col-md-10"></rb-filters>
            <rb-operations class="col-md-2"></rb-operations>
        </div>
    </div>
    <bbd-list
            [tableHeadList]="tableHeadList"
            [bbdList$]="bbdList$"
            [updateButton]="updateButton"
            [deleteButton]="deleteButton"
            (actionButtonUpdate)="onActionButtonUpdate($event)"
            (actionButtonDelete)="onActionButtonDelete($event)">
    </bbd-list>
</div>

<ng-template #bbdEdit>
    <bbd-edit
            [bbdView]="selectedBBD">
    </bbd-edit>
</ng-template>