<nav>
<!--
  <a routerLink="/home-screen/admin-page/user">User</a>
  <a routerLink="/home-screen/admin-page/role">Role</a>
-->
<!--  <button class="btn btn-default"
          (click)="onClickUser()">
    Присвоение ролей пользователям
  </button>


  <button class="btn btn-default"
          (click)="onClickRole()">
    Роли
  </button>


  <button class="btn btn-default"
          (click)="onClickUser()">
    Статусы заявок
  </button>

  <button class="btn btn-default"
          (click)="onClickUser()">
    Статусы бюджетных договоров
  </button>

  <button class="btn btn-default"
          (click)="onClickUser()">
    Операции
  </button>


  <button class="btn btn-default"
          (click)="onClickUser()">
    Настройка логики операций
  </button>


</nav>
<p>  </p>
<nav>
  <button class="btn btn-default"
          (click)="onClickUser()">
    Доступы к фильтрам
  </button>

  <button class="btn btn-default"
          (click)="onClickUser()">
    Доступы к операциям
  </button>

  <button class="btn btn-default"
          (click)="onClickUser()">
    Доступы к областям
  </button>

  <button class="btn btn-default"
          (click)="onClickUser()">
    Критерии маршуртизации
  </button>


</nav>-->
  <div class="row" *ngIf="isVisible">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Привязка ролей к пользователям АБС Б2</h5>
        <p class="card-text">лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум </p>
        <a routerLink="/home-screen/admin-page/user"
           routerLinkActive="active"
           class="a-label">
          <i class="fa fa-book fa-px"></i>
          Привязка ролей
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Роли системы R&B</h5>
        <p class="card-text">лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум </p>
        <a routerLink="/home-screen/admin-page/role"
           routerLinkActive="active"
           class="a-label">
          <i class="fa fa-book fa-px"></i>
          Роли системы R&B
        </a>
      </div>
    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Статусы заявок</h5>
        <p class="card-text">лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум лорем ипсум </p>
        <a routerLink="/home-screen/admin-page/issue-status"
           routerLinkActive="active"
           class="a-label">
          <i class="fa fa-book fa-px"></i>
          Статусы заявок системы R&B
        </a>
      </div>
    </div>
  </div>

  </div>

<nav>
  <p> </p>
<router-outlet></router-outlet>
</nav>
