.dropdown .button-dropdown{
  background-color: #4179b2;
  margin-top: 5px;
  padding: 7px;
  color: #FFFFFF;
  border: none;
  width: 130px;
  font-weight: 400;
  border-radius: 7px;
}
.dropdown-item {
  color: #3A6699;
  font-weight: 500;
  font-size: 18px
}
.dropdown-item:hover {
  background-color: #498CCE;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: 600;
}

.button-dropdown:hover {
  background-color: #498CCE;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: 600;
}
.button-dropdown:active {
  transform: translateY(2px);
}
.button-dropdown:focus {
  outline: none;
  border: none;
}
