.nav-root {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.19);
  color: #3A6699;
  padding: 8px;
  margin-top: 10px;
  margin-left: 24px;
  font-weight: bolder;
  font-size: 18px;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 97%;
}
a/*.a-label*/ {
  text-decoration: none;
  color: #3A6699;
  transition: .3s linear;
  padding: 7px;
  cursor: pointer;
}
a/*.a-label*/:hover {
  background: rgba(73, 140, 206, 0.84);
  color: white;
  border-radius: 7px;
}
