<div>
    <form [formGroup]="bbdEditForm">
        <div class="row">
            <div class="form-group col-md-5">
                <label>Номер</label>
                <input class="form-control" type="text" id="input-no" formControlName="documentNo"
                       placeholder="Номер договора">
            </div>
            <div class="form-group col-md-5">
                <label>Дата</label>
                <input class="form-control" type="date" id="input-date" formControlName="documentDate"
                       placeholder="Дата договора">
                <!--<td *ngIf="formErrors.productid" class="alert alert-danger">{{formErrors.productid}}</td>-->
            </div>
        </div>
        <div class=" row form-group col-md-10">
            <label>Поставщик</label><br>
            <input class="form-control" type="text" id="input-supplier" formControlName="supplier"
                   placeholder="Поставщик">

        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label>Ориентировочная сумма</label><br>
                <input class="form-control" type="text" id="input-approximateAmount"
                       formControlName="approximateAmount">
            </div>
            <div class="form-group col-md-5">
                <label>Сумма договора</label><br>
                <input class="form-control" type="text" id="input-amount" formControlName="amount">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
                <label>Сумма "Оплачено"</label><br>
                <input class="form-control" type="text" id="input-payedAmount" formControlName="payedAmount">
            </div>
            <div class="form-group col-md-5">
                <label>Сумма "Закрыто"</label><br>
                <input class="form-control" type="text" id="input-utilizedAmount" formControlName="utilizedAmount">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-7">
                <label>Ответственный</label><br>
                <input class="form-control" type="text" id="input-responsiblePerson" formControlName="responsiblePerson"
                       placeholder="Ответственный">
            </div>
            <div class="form-group col-md-3">
                <label>Состояние</label><br>
                <input class="form-control" type="text" id="input-state" formControlName="bbdState">
            </div>
        </div>

    </form>
</div>

<!--<div *ngIf="isVisibleList; else bbdPositionEdit">
    <budget-position-list
            [tableHeadList]="tableHeadList"
            [bbdPositionList]="bbdPositionList"
            [updateButton]="updateButton"
            [deleteButton]="deleteButton"
            (actionButtonUpdate)="onActionButtonUpdate($event)"
            (actionButtonDelete)="onActionButtonDelete($event)">
    </budget-position-list>
</div>-->
<div *ngIf="isVisibleList; else bbdPositionEdit">
    <rb-mat-table
            [columns]="columns"
            [dataList]="bbdPositionList"
            [updateButton]="updateButton"
            (clickUpdate)="onClickUpdate($event)"
            [deleteButton]="deleteButton"
            (clickDelete)="onClickDelete($event)"
            [viewButton]="viewButton"
            (clickView)="onClickView($event)"
    >
    </rb-mat-table>
</div>
<ng-template #bbdPositionEdit>
    <budget-position-edit
            [bbdPositionView]="selectedBBDPosition">
    </budget-position-edit>
</ng-template>