<h4 class="edit-caption" >Редактирование заявки</h4>
<div class="rb-container" >
<form [formGroup]="issueGroup"
      *ngIf="isLoadedData(); else loading" class="rb-form">
    <div class="box-field column-box-30">
      <label for="issueNo">Номер заявки</label>
      <input id="issueNo" class="input-field"
             formControlName="issueNo">
    </div>

    <div class="box-field column-box-30">
      <label for="date">Дата</label>
      <input type="date" id="date"
             class="input-field"
             formControlName="date"
      >
    </div>
    <div class="box-field column-box-30">
      <label for="count">Количество</label>
      <input id="count"
             formControlName="count"
             class="input-field count"
             >
    </div>

    <div class="box-field column-box-30">
      <label for="responsiblePerson">Текущий ответственный</label>
      <rb-look-up id="responsiblePerson"
                  [lookUpArray]="responsiblePerson"
                  formControlName="responsiblePerson">
      </rb-look-up>
    </div>

    <div class="box-field column-box-30">
      <label for="issuer">Инициатор</label>
      <rb-look-up id="issuer"
                  [lookUpArray]="issuer"
                  formControlName="issuer">
      </rb-look-up>
    </div>

    <div class="box-field column-box-30">
      <label for="state">Состояние</label>
      <input id="state" class="input-field" formControlName="state">
    </div>

    <div class="box-field column-box-45">
      <label for="budgetType">Тип статьи</label>
      <rb-look-up id="budgetType"
        [lookUpArray]="budgetType"
        formControlName="budgetArticleType">
      </rb-look-up>
    </div>
    <div class="box-field column-box-45">
      <label for="collectionName">Свод</label>
      <input id="collectionName" class="input-field"
             formControlName="collectionName">
    </div>

    <div class="box-field column-box-90">
      <label for="description">Описание</label>
      <textarea id="description"
                name="description"
                formControlName="description"
                placeholder="Описание"
                class="input-field description" rows="3">
      </textarea>
    </div>

    <button  class="rb-modal-box-button-cancel"
            (click)="closeEdit()"
    type="button"
    >
      Отменить
    </button>
    <button class="rb-modal-box-button-accept"
            type="button"
            (click)="accept(issueGroup)"
            [disabled]="issueGroup.invalid"
            >Применить</button>

  <p>
    Form Status: {{ issueGroup.status }}
  </p>
</form>

<ng-template #loading>
  <rb-spinner></rb-spinner>
</ng-template>

  <div class="rb-errors">
    <div *ngIf="issueGroup.invalid">
      <h5 class="rb-title-error">Возникли ошибки</h5>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('issueNo').hasError('required')
           && issueGroup.get('issueNo').touched">
        <p>Поле "номер заявки" должно быть заполнено</p>
      </div>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('date').hasError('required')
           && issueGroup.get('date').touched">
        <p>Поле "Дата" должно быть заполнено</p>
      </div>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('count').hasError('required')
           && issueGroup.get('count').touched">
        <p>Поле "Количество" должно быть заполнено</p>
      </div>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('responsiblePerson').hasError('required')
           && issueGroup.get('responsiblePerson').touched">
        <p>Поле "Текущий ответственный" должно быть заполнено</p>
      </div>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('issuer').hasError('required')
           && issueGroup.get('issuer').touched">
        <p>Поле "Инициатор" должно быть заполнено</p>
      </div>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('state').hasError('required')
           && issueGroup.get('state').touched">
        <p>Поле "Состояние" должно быть заполнено</p>
      </div>
      <div class="rb-errors-item"
           *ngIf="issueGroup.get('budgetArticleType').hasError('required')
           && issueGroup.get('budgetArticleType').touched">
        <p>Поле "Тип статьи" должно быть заполнено</p>
      </div>
    </div>
  </div>

</div>
<!--<p>Form value: {{ issueGroup.value | json }}</p>-->
