/*.list-wrap {
!*  padding: 6px;*!
  background: #085cb1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Segoe UI";
}
ul {
   list-style: none;
!*   margin: 0;*!
   padding: 1px;
 }
li {
  margin: 10px 0 0px 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #FFFFFF;
}
a.a-label {
  text-decoration: none;
!*  display: block;*!
  color: #FFFFFF;
  padding: 8px;
  position: relative;
!*  transition: .2s linear;*!
  cursor: pointer;
}
!*a.a-label:hover {
   font-weight: bolder;
   background-color: #0877e1;
 }*!
a.a-label.active {
  font-weight: bolder;
}
li a.a-label:hover{
  font-weight: bolder;
  background-color: #0877e1;
}*/
ul {
  list-style-type: none;
/*  margin: 0;*/
  padding: 0;
  flex: 0 0 17%;
/*  background-color: #f1f1f1;*/
 /* padding: 6px;*/
  background: #085cb1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Segoe UI";
 /* box-shadow: 1px 1px 8px #1771CB;*/
}

li a {
  display: block;
  color: #FFFFFF;
  padding: 10px 10px 10px 12px;
  text-decoration: none;
  text-align: left;
}

li {
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

/*li:last-child {
  border-bottom: none;
}*/

li a.active {
  color: white;
  font-weight: bolder;
/*  background-color: #0876D7;*/
}

li a:hover {
 /* background-color: #0876D7;*/
  color: white;
  font-weight: bolder;
  background: #085cb1;
}
/*
:not(.active)*/
.hideAdmin {
  background: #086dc7;
}
