rb-layout {
  background-color: #e9ecef;
}
.rb-content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-list {
  width: 16%;
}
.rb-content {
  box-shadow: 2px 2px 8px #1771CB;
  padding: 10px;
  background-color: #FFFFFF;
  margin: 10px;
  width: 82.5%;
  min-height: 100%;
}
.rb-to-footer {
  min-height: calc(100vh - 60px);
}
