a {
  text-decoration: none;
  border: none;
  color: #085cb1;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: "Segoe UI";
}
a:hover {
  font-weight: bolder;
  text-decoration: none;
}
