<rb-layout>
  <div class="row" *ngIf="isVisible">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Заявки инициаторов</h5>
          <p class="card-text">Возможность ввода заявок на приобретение товаров, работ или услуг.
            Создание и удаление сводов заявок.
            Создание  Базовых Бюджетных Договоров на основе сводов заявок.
            Передача заявок на согласование Распорядителям, Управляющим Филиалов</p>
          <a routerLink="/home-screen/budget-issue"
             routerLinkActive="active"
             class="a-label"
             href="#">
          <i class="fa fa-book fa-px"></i>
            Заявки инициаторов
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Базовый договор</h5>
          <p class="card-text">Рабочее место распорядителей и бюджетного контролёра банка.
            Администрирование базовых бюджетных договоров, которые утилизируют
            утвержденные плановые суммы по статьям бюджета и подразделениям.</p>
          <a routerLink="/home-screen/bbd"
             routerLinkActive="active"
             class="a-label"
             href="#">
            <i class="fa fa-handshake-o"></i>
            Базовый договор
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Администрирование</h5>
          <p class="card-text">Администрирование ролей, состояний, доступов,
            настройка сути выполняемых операций.
            Настройка логики операций, выдача прав на доступа к фильтрам, операциям, областям.
            Критерии маршрутизации. Присвоение ролей пользователям</p>
          <a routerLink="/home-screen/admin-page"
             routerLinkActive="active"
             class="a-label"
             href="#">
            <i class="fa fa-cog"></i>
            Администрирование
          </a>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
</rb-layout>
